# dependencies
node_modules/
pnpm-debug.log*

# testing artifacts
playwright-report/
test-results/
blob-report/
trace.zip

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# env files
.env

docker-compose.override.yml
docker-compose.yaml
docker-compose.yml
*.log

tsconfig.tsbuildinfo
*.tsbuildinfo