# dependencies
node_modules/

# testing artifacts
playwright-report/
test-results/
blob-report/
trace.zip

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# env files
.env